.card{
    width: 270px;
    text-align: center;
    padding: 20px 20px;
    box-shadow: 0 0 10px black;
}

.card h4{
    font-size:15px;
    color:rgb(69, 7, 240);

}
.card button{
    /* background-color:rgb(165, 165, 210); */
    padding: 10px;
    border-radius: 10px;
    border-color: white;
}
.card  :nth-child(4):hover{
    background-color: green;
    color: white;
    border-color: green;
}

.card  :nth-child(5):hover{
    background-color: purple;
    color: white;
    border-color: purple;
}

.card img:hover{
    transform: scale(1.2);
}
.card img{
    transition-property: transform;
    transition-duration: 2s;
}
.noProducts{
    color: red;
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}