.profile{
    width: 1000px;
    /* height: 350px; */
    box-shadow: 0 0 10px black;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 20% 80%;
}
.imgContainer{
     padding: 10px;
    /* background-color: aqua; */
     /* border: 2px black solid; */
}
.contentContainer{
    /* background-color: red; */
    padding: 30px;
    /* border: 2px red solid; */
}
.darkThemeContainer{
 background-color: black;
     padding: 10px;
    color: white;
}
.lightThemeContainer{
    background-color: white;
     padding: 10px;
    color: black;
}